<template>
    <Card sectioned>
        <div class="Polaris-SettingAction">
            <div class="Polaris-SettingAction__Setting">
                <Stack>
                    <StackItem  v-if="connected">
                        <span aria-label="Jane Appleseed" role="img" class="Polaris-Avatar Polaris-Avatar--styleThree Polaris-Avatar--sizeMedium"><span class="Polaris-Avatar__Initials"><svg class="Polaris-Avatar__Svg" viewBox="0 0 48 48"><text x="50%" y="50%" dy="0.35em" fill="currentColor" font-size="26" text-anchor="middle">JA</text></svg></span></span>
                    </StackItem>
                    <StackItem fill>
                        <div class="Polaris-AccountConnection__Content">
                            <div>{{title}}</div>
                            <div>
                                <TextStyle variation="subdued">{{details}}</TextStyle>
                            </div>
                        </div>
                    </StackItem>
                </Stack>
            </div>
            <div class="Polaris-SettingAction__Action">
                <Button :primary="!connected ? true : false" @click.native.prevent="onAction">{{buttonText}}</Button>
            </div>
        </div>
        <div class="Polaris-AccountConnection__TermsOfService" v-if="!connected">
            <p>By clicking <strong>Connect</strong>, you agree to accept Sample App’s <a class="Polaris-Link" href="Example App" data-polaris-unstyled="true">terms and conditions</a>. You’ll pay a commission rate of 15% on sales made through Sample App.</p>
        </div>
    </Card>

</template>


<script>
    import Card from '../../components/polaris/Card.vue'
    import Stack from "../../components/polaris/Stack";
    import StackItem from "../../components/polaris/StackItem";
    import TextStyle from "../../components/polaris/TextStyle";
    import Button from "../../components/polaris/Button";
    export default {
        components: {
            Card ,
            Stack ,
            StackItem ,
            TextStyle ,
            Button
        },
        props:{
            connected: Boolean,
            title: String,
            buttonText: String,
            details: String,
            onAction:Function
        }

    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
