<template>
        <div class="Polaris-PositionedOverlay " :style="propsStyle">
            <div class="Polaris-Popover" :data-polaris-overlay="showPopup" v-show="showPopup">
                <div class="Polaris-Popover__FocusTracker" tabindex="0"></div>
                <div class="Polaris-Popover__Wrapper">
                    <div :id="id" tabindex="-1" class="Polaris-Popover__Content">
                        <div class="Polaris-Popover__Pane Polaris-Scrollable Polaris-Scrollable--vertical"
                             data-polaris-scrollable="true">
                            <div class="Polaris-ActionList">
                                <div :class="{'Polaris-ActionList__Section--withoutTitle':!title}">
                                    <p class="Polaris-ActionList__Title" v-if="title">{{title}}</p>

                                    <ul class="Polaris-ActionList__Actions">
                                        <li v-for="action in actionList"
                                            @click.prevent="handleClick(action)">
                                            <button class="Polaris-ActionList__Item"
                                                    :class="{'Polaris-ActionList--destructive':action.destructive }"  type="button">
                                                <div class="Polaris-ActionList__Content"
                                                     v-if="action.icon == 'import' || action.icon == 'export' ||  action.icon == 'delete'">


                                                    <div class="Polaris-ActionList__Image">
                            <span class="Polaris-Icon">
                              <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">

                            <path d="M9.293 13.707l-3-3a.999.999 0 1 1 1.414-1.414L9 10.586V3a1 1 0 1 1 2 0v7.586l1.293-1.293a.999.999 0 1 1 1.414 1.414l-3 3a.999.999 0 0 1-1.414 0zM17 16a1 1 0 1 1 0 2H3a1 1 0 1 1 0-2h14z"
                                  v-if="action.icon == 'import'"></path>

                                 <path d="M13.707 6.707a.997.997 0 0 1-1.414 0L11 5.414V13a1 1 0 1 1-2 0V5.414L7.707 6.707a.999.999 0 1 1-1.414-1.414l3-3a.999.999 0 0 1 1.414 0l3 3a.999.999 0 0 1 0 1.414zM17 18H3a1 1 0 1 1 0-2h14a1 1 0 1 1 0 2z"
                                       v-if="action.icon == 'export'"></path>

<path d="M16 6H4a1 1 0 1 0 0 2h1v9a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V8h1a1 1 0 1 0 0-2zM9 4a1 1 0 1 1 0-2h2a1 1 0 1 1 0 2H9zm2 12h2V8h-2v8zm-4 0h2V8H7v8z"
      fill-rule="evenodd" v-if="action.icon == 'delete'"></path>

                          </svg>
                            </span>
                                                    </div>

                                                    <div class="Polaris-ActionList__Text"> {{action.content}}</div>

                                                </div>

                                                <div class="Polaris-ActionList__Content" v-else-if="action.helpText">
                                                    <div>
                                                        <div> {{action.content}}</div>
                                                        <TextStyle variation="subdued">{{action.helpText}}</TextStyle>
                                                    </div>
                                                </div>

                                                <div class="Polaris-ActionList__Content" v-else>
                                                    {{action.content}}
                                                </div>

                                            </button>
                                        </li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="Polaris-Popover__FocusTracker" tabindex="0"></div>
            </div>
        </div>


</template>


<script>
    import TextStyle from '../../components/polaris/TextStyle'
    export default {
        components: {TextStyle},
        props: {
            actionList: Array,
            title: String,
            showPopup:{
                default:false,
                type:Boolean
            },
            id:String,
            propsStyle:String
        },
        methods: {
            handleClick(action) {
                // action = action.replace(/\s+/g, '-').toLowerCase();
                this.$emit('actionTrigger', action);
            }
        }

    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
