<template>
    <div>
        <div role="combobox" aria-expanded="false" aria-owns="ComboBox6"
             aria-controls="ComboBox6" aria-haspopup="true"
             tabindex="0">
           <slot></slot>
        </div>
    </div>
</template>


<script>
    export default {
        components: {},
        props: {

        },
        methods: {

        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->