<template>
    <span class="Polaris-Badge"
          :class="[
          status ? 'Polaris-Badge--status'+capitalizeFirstLetter(status) : '',
          progress ? 'Polaris-Badge--progress'+capitalizeFirstLetter(progress) : ''
          ]">
        <span class="Polaris-Badge__Pip" v-if="progress">
            <span class="Polaris-VisuallyHidden" v-if="progress" v-text="capitalizeFirstLetter(progress)"></span>
        </span>
        <span v-else-if="status" v-text="capitalizeFirstLetter(status)"></span>
        <slot></slot></span>
</template>


<script>
    export default {
        components: {},
        props: {
            status:String ,
            progress:String
        },
        methods: {
            capitalizeFirstLetter(string) {
                return string && string.charAt(0).toUpperCase() + string.substring(1);
            }
        }

    }
</script>
<style>
.Polaris-Tag{
    margin: 0 2px 2px 0;
}
</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
