<template>
    <div :class="'Polaris-Banner Polaris-Banner--status'+capitalizeFirstLetter(status) +' Polaris-Banner--hasDismiss Polaris-Banner--withinPage'" tabindex="0" role="status" aria-live="polite" aria-labelledby="Banner3Heading"
         aria-describedby="Banner3Content">
        <div class="Polaris-Banner__Dismiss" @click="closeBanner">
            <Button plain propsClass="Polaris-Button--iconOnly" ariaLabel="Dismiss notification">
               <span class="Polaris-Button__Icon">
                    <span class="Polaris-Icon">
                    <svg viewBox="0 0 20 20"  class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                <path d="M11.414 10l4.293-4.293a.999.999 0 1 0-1.414-1.414L10 8.586 5.707 4.293a.999.999 0 1 0-1.414 1.414L8.586 10l-4.293 4.293a.999.999 0 1 0 1.414 1.414L10 11.414l4.293 4.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z"
                      fill-rule="evenodd"></path>
              </svg>
                    </span>
                </span>
            </Button>

        </div>
        <div class="Polaris-Banner__Ribbon">

            <span class="Polaris-Icon Polaris-Icon--colorGreenDark Polaris-Icon--isColored Polaris-Icon--hasBackdrop" v-if="status == 'success'">
                <svg
                viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
          <circle fill="currentColor" cx="10" cy="10" r="9"></circle>
          <path d="M10 0C4.486 0 0 4.486 0 10s4.486 10 10 10 10-4.486 10-10S15.514 0 10 0m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8m2.293-10.707L9 10.586 7.707 9.293a1 1 0 1 0-1.414 1.414l2 2a.997.997 0 0 0 1.414 0l4-4a1 1 0 1 0-1.414-1.414"></path>
        </svg>
            </span>

            <span class="Polaris-Icon Polaris-Icon--colorRedDark Polaris-Icon--isColored Polaris-Icon--hasBackdrop" v-if="status == 'critical'"><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true"><circle fill="currentColor" cx="10" cy="10" r="9"></circle><path d="M2 10c0-1.846.635-3.543 1.688-4.897l11.209 11.209A7.954 7.954 0 0 1 10 18c-4.411 0-8-3.589-8-8m14.312 4.897L5.103 3.688A7.954 7.954 0 0 1 10 2c4.411 0 8 3.589 8 8a7.952 7.952 0 0 1-1.688 4.897M0 10c0 5.514 4.486 10 10 10s10-4.486 10-10S15.514 0 10 0 0 4.486 0 10"></path></svg></span>

        </div>
        <div>
            <div class="Polaris-Banner__Heading" id="BannerHeading">
                <Heading element="p" v-html="title"></Heading>
            </div>

            <div class="Polaris-Banner__Content" id="BannerContent">
               <slot></slot>
            </div>
        </div>
    </div>
</template>


<script>
    import Heading from '../../components/polaris/Heading'
    import Button from '../../components/polaris/Button'
    export default {
        components: {
            Heading ,Button
        },
        props: {
            title: String,
            status: String,
        },
        methods:{
            capitalizeFirstLetter(string) {
                return string && string.charAt(0).toUpperCase() + string.substring(1);
            },
            closeBanner(){
                this.$emit('bannerClose');
            }
        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
