<template>
        <div class="Polaris-ButtonGroup" :class="{'Polaris-ButtonGroup--segmented':segmented}">
            <div class="Polaris-ButtonGroup__Item" v-for="slot, name in $slots">
                <slot :name="name"></slot>
            </div>

        </div>
</template>


<script>
    export default {
        props:{
            segmented:Boolean
        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
