<template>
    <div class="Polaris-InlineError" v-if="plain && monochrome">
        <div class="Polaris-InlineError__Icon">
                <span class="Polaris-Icon">
                    <svg viewBox="0 0 20 20"
                         class="Polaris-Icon__Svg"
                         focusable="false" aria-hidden="true">
          <path d="M10 18a8 8 0 1 1 0-16 8 8 0 0 1 0 16zm-1-8h2V6H9v4zm0 4h2v-2H9v2z" fill-rule="evenodd"></path>
        </svg>
                </span>
        </div>
        {{errorMessage}} &nbsp;


        <button :type="[submit ?  'submit' : (reset ? 'reset' : 'button')]" class="Polaris-Button"
                :class="[propsClass , {'Polaris-Button--monochrome':monochrome ,
                     'Polaris-Button--plain':plain
                     }]" :aria-expanded="ariaExpanded"
                :aria-controls="ariaProps"
                :aria-owns="ariaProps"
                :aria-haspopup="ariaPopup"
                :aria-label="ariaLabel"
                :value="value" :style="propsStyle">
                <span class="Polaris-Button__Content">
                <span class="Polaris-Button__Text">
                    <slot></slot>
                </span></span>
        </button>

    </div>


    <button :type="[submit ?  'submit' : (reset ? 'reset' : 'button')]" class="Polaris-Button"
            :class="[propsClass ,{'Polaris-Button--outline': outline ,
                'Polaris-Button--monochrome':monochrome ,
                  'Polaris-Button--plain':plain ,
                   'Polaris-Button--primary':primary ,
                    'Polaris-Button--destructive':destructive ,
                    'Polaris-Button--sizeSlim':slim ,
                    'Polaris-Button--sizeLarge':large,
                     'Polaris-Button--fullWidth':fullWidth,
                     'Polaris-Button--disabled':disabled ,
                     'Polaris-Button--loading':loading
                      }]"
            :disabled="disabled" :role="[ loading ? 'alert' : '' ]" :aria-busy="loading"
            :aria-expanded="ariaExpanded"
            :aria-controls="ariaProps"
            :aria-owns="ariaProps"
            :aria-haspopup="ariaPopup"
            :aria-label="ariaLabel"
            :value="value" :style="propsStyle"
            v-else>
                  <span class="Polaris-Button__Content">

                    <span class="Polaris-Button__Spinner" v-if="loading"><img
                            src="data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjAgMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTcuMjI5IDEuMTczYTkuMjUgOS4yNSAwIDEgMCAxMS42NTUgMTEuNDEyIDEuMjUgMS4yNSAwIDEgMC0yLjQtLjY5OCA2Ljc1IDYuNzUgMCAxIDEtOC41MDYtOC4zMjkgMS4yNSAxLjI1IDAgMSAwLS43NS0yLjM4NXoiIGZpbGw9IiM5MTlFQUIiLz48L3N2Zz4K"
                            alt="" class="Polaris-Spinner Polaris-Spinner--colorInkLightest Polaris-Spinner--sizeSmall"
                            draggable="false" role="status" aria-label="Loading"></span>

                    <span class="Polaris-Button__Text">
                      <slot></slot>
                    </span>
                  </span>
    </button>

</template>


<script>
    export default {
        props: {
            outline: Boolean,
            monochrome: Boolean,
            plain: Boolean,
            primary: Boolean,
            destructive: Boolean,
            slim: Boolean,
            large: Boolean,
            fullWidth: Boolean,
            disabled: Boolean,
            loading: Boolean,
            errorMessage: String,
            propsClass: String,
            ariaExpanded: Boolean,
            ariaControls: String,
            ariaOwns: String,
            submit: Boolean,
            reset: Boolean,
            ariaProps: String,
            ariaLabel:String,
            ariaPopup: Boolean,
            value: [String, Number , Array],
            propsStyle: String
        }

    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
