<template>
    <p class="Polaris-Caption"><slot></slot></p>
</template>


<script>
    export default {
        components: {},
        props: {

        },
        methods: {

        }
    }
</script>
<style>

</style>
