<template>
        <div class="Polaris-Card" :class="propsClass">
            <div class="Polaris-Card__Header" :class="propsHeaderClass" v-if="this.$slots.title">
               <slot name="title"></slot>
            </div>
            <div class="Polaris-Card__Section" :class="propsSectionClass"
                 v-for="slot, name in $slots" v-if="sectioned && name !='title'"
            :style="propsSectionStyle">
                <slot :name="name"></slot>
            </div>
            <slot v-else></slot>
        </div>
</template>


<script>
    export default {
        components:{
        },
        props:{
            sectioned:Boolean,
            propsClass:String,
            propsHeaderClass:String,
            propsSectionClass:String,
            propsSectionStyle:[String ,Object],
            exceptCard:Boolean
        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
