<template>
    <div>
        <label class="Polaris-Choice" :for="id">
            <span class="Polaris-Choice__Control">
                <span class="Polaris-Checkbox">

                    <input :id="id" :type="type" class="Polaris-Checkbox__Input" aria-invalid="false"
                           :name="name"  role="checkbox"  :value="value" v-model="content"
                           @change.prevent="handleInput">

                <span class="Polaris-Checkbox__Backdrop"></span>
                <span class="Polaris-Checkbox__Icon">
                    <span class="Polaris-Icon">
                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                             focusable="false"
                             aria-hidden="true">
              <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0">

              </path>
            </svg>
                    </span>
                </span>
                </span>
            </span>
            <span class="Polaris-Choice__Label" v-html="label"></span></label></div>
</template>


<script>
    export default {
        props: {
            label: String,
            value: [String, Boolean , Array , Number],
            id: String,
            name: String,
            type: String,
        },
        data(){
            return {
                content: this.value
            }
        },
        watch:{
            value : function (value) {
                return this.content = value;
            }
        },
        methods: {
            handleInput (e) {
                this.$emit('input', this.content);
            },
        },
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
