<template>
    <component :is="element"
               :class="['Polaris-DisplayText Polaris-DisplayText--size'+capitalizeFirstLetter(size)]">
        <slot></slot>
    </component>
</template>


<script>
    export default {
        props: {
            element: {
                type:String,
                default:'p'
            },
            size:String
        },
        methods:{
            capitalizeFirstLetter(string) {
                return string && string.charAt(0).toUpperCase() + string.substring(1);
            }
        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
