<template>
    <div>
        <div class="Polaris-DropZone Polaris-DropZone--hasOutline Polaris-DropZone--sizeExtraLarge" >
            <slot name="dummy-image"></slot>
            <div class="Polaris-DropZone__Container" >

                <div class="Polaris-DropZone-FileUpload" v-if="type == 'file-upload'">
                    <slot name="file-upload"></slot>
                </div>

                <slot v-else></slot>
            </div>
            <span class="Polaris-VisuallyHidden" v-if="multiple">
            <input :id="id" :name="name" type="file"  ref="file"  multiple=""
                   autocomplete="on"  @change="onFileChange($event.target.files)">
            </span>
            <span class="Polaris-VisuallyHidden" v-else>
            <input :id="id" :name="name" type="file"  ref="file"
                   autocomplete="off"  @change="onFileChange($event.target.files , $event.target.name)">
            </span>
        </div>
    </div>
</template>


<script>
    export default {
        props: {
            id:String,
            name:String,
            type:String,
            clicked:Boolean,
            multiple:Boolean
        },
        methods:{
            onFileChange(file   , name) {
                this.$emit('onImageUpload', file , name);
            },
            openFileDialogue(){
                this.$refs.file.click()
            }
        },
        mounted(){

        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
