<template>
    <div class="Polaris-FormLayout">
        <slot v-if="grouped"></slot>
        <div class="Polaris-FormLayout__Item" :class="itemClass" v-else-if="!grouped"  v-for="slot, name in $slots">
            <slot :name="name"></slot>
        </div>
        <slot v-else></slot>
    </div>
</template>


<script>
    export default {
        props: {
            grouped: Boolean,
            itemClass:String
        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
