<template>
        <div role="group" :class="'Polaris-FormLayout--'+[condensed ? 'condensed' : 'grouped']">
            <div class="Polaris-FormLayout__Items" :class="itemsClass">
                <div class="Polaris-FormLayout__Item" v-for="slot, name in $slots" :class="itemClass">
                    <slot :name="name"></slot>
                </div>
            </div>
        </div>
</template>


<script>
    export default {
        props:{
            condensed :Boolean,
            itemClass:String,
            itemsClass:String
        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
