<template>
    <div>
        <div :style="propsStyle">
            <div class="Polaris-Frame Polaris-Frame--hasNav Polaris-Frame--hasTopBar" data-polaris-layer="true"
                 data-has-navigation="true">
                <div class="Polaris-Frame__Skip">
                    <Button>Skip to content</Button>
                </div>

                <slot name="topBar"></slot>
                <div>

                    <div class="Polaris-Frame__Navigation" id="AppFrameNav">

                        <slot name="navigation"></slot>

                        <button type="button" class="Polaris-Frame__NavigationDismiss" aria-hidden="true"
                                aria-label="Close navigation" tabindex="-1">
                            <span
                                class="Polaris-Icon Polaris-Icon--colorWhite"><svg viewBox="0 0 20 20"
                                                                                   class="Polaris-Icon__Svg"
                                                                                   focusable="false" aria-hidden="true">
                  <path d="M11.414 10l6.293-6.293a.999.999 0 1 0-1.414-1.414L10 8.586 3.707 2.293a.999.999 0 1 0-1.414 1.414L8.586 10l-6.293 6.293a.999.999 0 1 0 1.414 1.414L10 11.414l6.293 6.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z"
                        fill-rule="evenodd"></path>
                </svg></span></button>
                    </div>
                </div>
                <main class="Polaris-Frame__Main" id="AppFrameMain" data-has-global-ribbon="false">

                    <slot name="pageContent"></slot>

                </main>
            </div>
        </div>
        <div class="Polaris-Frame-ToastManager"></div>
    </div>
</template>


<script>
    import Button from "../../components/polaris/Button";
    export default {
        components: {Button},
        props: {
            propsStyle: String
        },
        methods: {}
    }
</script>
<style>

</style>
