<template>
    <component :is="element" class="Polaris-Heading" :class="propsClass">
        <slot></slot>
    </component>
</template>


<script>
    export default {
        props:{
            element: {
                type:String,
                default:'h2'
            },
            propsClass: String
        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
