<template>
    <div class="Polaris-Layout">
        <slot></slot>
    </div>
</template>


<script>
    export default {
        props:{
            grouped:Boolean
        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
