<template>
        <div :class="['Polaris-Layout__Section' , secondary ? 'Polaris-Layout__Section--secondary' : '']">
                <slot></slot>
        </div>
</template>


<script>
    export default {
        props:{
            secondary:Boolean
        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
