<template>
    <section class="Polaris-Modal-Section">
        <slot></slot>
    </section>
</template>


<script>


    export default {
        components: {},
        props: {},
        methods: {}
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
