<template>
    <div>
        <div class="Polaris-Modal-Dialog__Container"
             data-polaris-layer="true"
             data-polaris-overlay="true">
            <div>
                <div class="Polaris-Modal-Dialog__Modal"
                     role="dialog" aria-labelledby="modal-header17"
                     tabindex="-1" :class="[large ? 'Polaris-Modal-Dialog--sizeLarge' : '']" >
                    <div class="Polaris-Modal-Header">
                        <div id="modal-header17" class="Polaris-Modal-Header__Title">
                            <DisplayText element="h2" size="small"> {{title}}</DisplayText>
                        </div>
                        <button class="Polaris-Modal-CloseButton" @click="onClose">
                            <span class="Polaris-Icon Polaris-Icon--colorInkLighter Polaris-Icon--isColored">
                                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                <path d="M11.414 10l6.293-6.293a.999.999 0 1 0-1.414-1.414L10 8.586 3.707 2.293a.999.999 0 1 0-1.414 1.414L8.586 10l-6.293 6.293a.999.999 0 1 0 1.414 1.414L10 11.414l6.293 6.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z"
                      fill-rule="evenodd"></path>
              </svg></span></button>
                    </div>
                    <div class="Polaris-Modal__BodyWrapper">
                        <div class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical"
                             data-polaris-scrollable="true" @scroll="onScroll">
                            <slot name="modal-section"></slot>
                        </div>
                    </div>
                    <div class="Polaris-Modal-Footer">
                        <div class="Polaris-Modal-Footer__FooterContent">
                            <Stack alignment="center">
                                <StackItem fill>
                                </StackItem>
                                <StackItem>
                                    <ButtonGroup>
                                        <Button :slot="'secondary-btn'+index" v-for="(secondary , index) in secondaryActions"
                                                :key="index" :disabled="secondary.disabled"
                                                @click.native.prevent="secondary.onAction" v-show="secondary.show ? secondary.show :  secondary.show" :[secondary.button_type]="secondary.button_type" >
                                            {{secondary.content}}
                                        </Button>
                                        <Button primary
                                                slot="primary-btn"
                                                v-for="(primary , index) in primaryActions"
                                                :key="index" :disabled="primary.disabled"
                                                @click.native.prevent="primary.onAction" >
                                            {{primary.content}}
                                        </Button>
                                    </ButtonGroup>
                                </StackItem>
                            </Stack>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Polaris-Backdrop"></div>
    </div>
</template>


<script>
    import Button from "./Button";
    import ButtonGroup from "./ButtonGroup";
    import Stack from "./Stack";
    import StackItem from "./StackItem";
    import TextField from "./TextField";
    import DisplayText from "./DisplayText";

    export default {
        components: {
            ButtonGroup,
            Button,
            Stack,
            StackItem,
            TextField,
            DisplayText,
        },
        props: {
            primaryActions: [Array, String, Object , Function],
            secondaryActions: [Array, String, Object ,Function],
            onClose: Function,
            title:String,
            large:Boolean,
        },
        methods: {
            onScroll ({ target: { scrollTop, clientHeight, scrollHeight }}) {
                    console.log('scrolled');
                if (scrollTop + clientHeight >= scrollHeight) {
                    console.log('emited');
                    this.$emit('scrolled')
                }
            }
        },
        mounted(){
        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
