<template>
    <nav class="Polaris-Navigation">
        <div class="Polaris-Navigation__UserMenu"></div>
        <div class="Polaris-Navigation__PrimaryNavigation Polaris-Scrollable Polaris-Scrollable--vertical"
             data-polaris-scrollable="true" >
            <ul class="Polaris-Navigation__Section">
                <li class="Polaris-Navigation__ListItem" v-for="(slot, name) in $slots">
                    <slot :name="name"></slot>
                </li>
            </ul>
        </div>
    </nav>
</template>


<script>
    export default {
        components: {},
        props: {},
        methods: {}
    }
</script>
<style>

</style>
