<template>
    <div class="Polaris-PageActions">
        <Stack space="tight" distribution="equalSpacing">
            <slot></slot>
        </Stack>
    </div>
</template>


<script>
    import Stack from "./Stack";
    export default {
        components:{
            Stack
        },
        props:{
        },
        methods:{

        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
