<template>
    <nav class="Polaris-Pagination" aria-label="Pagination">

        <a class="Polaris-Pagination__Button" aria-label="Previous" v-if="previousURL ||
        typeof previousURL != 'undefined'" id="previousURL" :href="previousURL ? previousURL : '' "
                     :class="prevClass"  data-polaris-unstyled="true" :disabled="disabledPrev ? true : false">
            <span class="Polaris-Icon">
                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                     focusable="false" aria-hidden="true">
          <path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2" fill-rule="evenodd"></path>
        </svg>
            </span>
        </a>

        <button type="button" class="Polaris-Pagination__Button" :class="prevClass"
                aria-label="Previous" @click.prev="buttonClick('prev')"  :disabled="disabledPrev ? true : false"
                v-else>
            <span class="Polaris-Icon">
                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                     focusable="false" aria-hidden="true">
          <path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2"
                fill-rule="evenodd">
          </path>
        </svg>
            </span>
        </button>


        <a class="Polaris-Pagination__Button" aria-label="Next" id="nextURL"
           :href="nextURL ? nextURL : ''" data-polaris-unstyled="true"
                     :class="nextClass"  v-if="nextURL || typeof nextURL != 'undefined'"
           :disabled="disabledNext ? true : false">
            <span class="Polaris-Icon">
                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
          <path d="M17.707 9.293l-5-5a.999.999 0 1 0-1.414 1.414L14.586 9H3a1 1 0 1 0 0 2h11.586l-3.293 3.293a.999.999 0 1 0 1.414 1.414l5-5a.999.999 0 0 0 0-1.414"
                fill-rule="evenodd">
          </path>
        </svg>
            </span>
        </a>

        <button type="button" class="Polaris-Pagination__Button" :class="nextClass" aria-label="Next"
                @click.next="buttonClick('next')" :disabled="disabledNext ? true : false"
                v-else>
            <span class="Polaris-Icon">
                <svg
                    viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
          <path d="M17.707 9.293l-5-5a.999.999 0 1 0-1.414 1.414L14.586 9H3a1 1 0 1 0 0 2h11.586l-3.293 3.293a.999.999 0 1 0 1.414 1.414l5-5a.999.999 0 0 0 0-1.414"
                fill-rule="evenodd">
          </path>
        </svg>
            </span>
        </button>



    </nav>
</template>


<script>
    export default {
        components: {},
        props: {
            hasPrevious:Boolean,
            hasNext: Boolean,
            nextURL:String,
            previousURL:String,
            nextTooltip:String,
            previousTooltip:String,
            prevClass:String,
            nextClass:String,
            disabledPrev:Boolean,
            disabledNext:Boolean
        },
        methods: {
            buttonClick(type){
                if(type == 'prev'){
                    this.$emit('onPrevious' , 'prev')
                }
                else if(type == 'next'){
                    this.$emit('onNext' , 'next')
                }
            },

        }
    }
</script>
<style>

</style>
