<template>
    <!--<div :class="propsMainClass">-->
    <!--<label class="Polaris-Choice" :for="id">-->
    <!--<span class="Polaris-Choice__Control">-->
    <!--<span class="Polaris-RadioButton">-->
    <!--<input :id="id" :name="name" type="radio"-->
    <!--class="Polaris-RadioButton__Input"-->
    <!--:value="value" :disabled="disabled"  v-model="content"   @input="handleInput($event)">-->

    <!--<span class="Polaris-RadioButton__Backdrop">-->

    <!--</span>-->
    <!--<span-->
    <!--class="Polaris-RadioButton__Icon"></span>-->
    <!--</span>-->
    <!--</span>-->
    <!--<span class="Polaris-Choice__Label">{{label}}</span>-->
    <!--</label>-->

    <!--<div class="Polaris-Choice__Descriptions" v-if="helpText">-->
    <!--<div class="Polaris-Choice__HelpText" :id="id+'HelpText'" v-html="helpText"></div>-->
    <!--</div>-->
    <!--</div>-->

    <div :class="propsParentClass">
        <div :class="propsClass" v-for="(radData, index) in data">
            <label class="Polaris-Choice" :for="radData.id">
            <span class="Polaris-Choice__Control">
                <span class="Polaris-RadioButton">
            <input :id="radData.id" :name="radData.name" type="radio"
                   class="Polaris-RadioButton__Input"
                   :value="radData.value" :disabled="disabled" v-model="content" @input="handleInput($event)">

            <span class="Polaris-RadioButton__Backdrop">

            </span>
            <span
                    class="Polaris-RadioButton__Icon"></span>
        </span>
        </span>
                <span class="Polaris-Choice__Label">{{radData.label}}</span>
            </label>

            <div class="Polaris-Choice__    Descriptions" v-if="radData.helpText">
                <div class="Polaris-Choice__HelpText" :id="radData.id+'HelpText'" v-html="radData.helpText"></div>
            </div>
        </div>
    </div>

</template>


<script>
    export default {
        props: {
            label: String,
            value: [String, Number, Array],
            id: String,
            name: String,
            disabled: {
                type: Boolean,
                default: false
            },
            helpText: String,
            propsClass: String,
            propsParentClass: String,
            data: Array
        },
        data() {
            return {
                content: this.value
            }
        },
        watch: {
            value: function (value) {
                return this.content = value;
            }
        },
        methods: {
            handleInput(event) {
                this.$emit('input', event.target.value);
            }
        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
