<template>
    <div>
        <div class="Polaris-Labelled__LabelWrapper"  v-if="label">
            <div class="Polaris-Label">
                <label :id="id+'Label'"
                       :for="id" class="Polaris-Label__Text">{{label}}</label>
            </div>
        </div>
        <div class="Polaris-Select">
            <select :id="id" @input="handleInput($event)" class="Polaris-Select__Input" aria-invalid="false"
                    :name="name"
                    v-model="selectedVal">
                <option :value="option.id" :label="option.type" v-for="(option) in options">
                    {{option.type}}
                </option>
            </select>

            <div class="Polaris-Select__Content" aria-hidden="true">
                <span class="Polaris-Select__SelectedOption">{{selectedOption}}</span>
                <span class="Polaris-Select__Icon">
                    <span class="Polaris-Icon">
                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
              <path d="M13 8l-3-3-3 3h6zm-.1 4L10 14.9 7.1 12h5.8z" fill-rule="evenodd">

              </path>
            </svg>
                    </span>
                </span>
            </div>
            <div class="Polaris-Select__Backdrop"></div>
        </div>
    </div>
</template>


<script>
    export default {
        components: {},
        props: {
            id: {
                type:String,
                default:''
            },
            name: String,
            label: String,
            options: Array,
            value: [String, Number]
        },
        data() {
            return {
                selectedVal: this.value,
                selectedOption: null
            }
        },
        watch: {
            value: function (newValue) {
                this.selectedVal = newValue;
                this.getSelectedOption();
            },
            options:function(){
                this.getSelectedOption();
            },
            selectedVal: function(){
                this.getSelectedOption();
            }

        },
        methods: {
            handleInput(event) {
                this.$emit('input', event.target.value);
                this.getSelectedOption();
            },
            indexWhere(array, condition) {
                const item = array.find(condition)
                return array.indexOf(item)
            },
            getSelectedOption(){
                const index = this.indexWhere(this.options, item => item.id === this.selectedVal);
                if(index >= 0){
                    this.selectedOption = this.options[index].type;
                }
            }
        },
        created() {
            this.getSelectedOption();
        }
    }
</script>
<style>
    .Polaris-Labelled--hidden .Polaris-Labelled__LabelWrapper {
        position: absolute !important;
        top: 0;
        clip: rect(1px, 1px, 1px, 1px) !important;
        overflow: hidden !important;
        height: 1px !important;
        width: 1px !important;
        padding: 0 !important;
        border: 0 !important;
    }
</style>
