<template>
    <div :class="['Polaris-Stack'  ,
     alignment ? 'Polaris-Stack--alignment'+capitalizeFirstLetter(alignment) : '' ,
     {'Polaris-Stack--vertical' : vertical} , spacing ? 'Polaris-Stack--spacing'+capitalizeFirstLetter(spacing) : '',
      distribution ? 'Polaris-Stack--distribution'+capitalizeFirstLetter(distribution) : '',
      wrap == 'false' ? 'Polaris-Stack-noWrap' : '']">
        <slot></slot>
    </div>
</template>


<script>
    export default {
        components: {},
        props: {
            alignment: String,
            vertical:Boolean,
            spacing:String,
            distribution:String,
            wrap:String
        },
        methods: {
            capitalizeFirstLetter(string) {
                return string && string.charAt(0).toUpperCase() + string.substring(1);
            }
        }
    }
</script>
<style>

</style>
