<template>
    <div :class="['Polaris-Stack__Item' , fill ? 'Polaris-Stack__Item--fill' : '']">
        <slot></slot>
    </div>
</template>


<script>
    export default {
        components:{

            },
        props:{
            fill : Boolean
        }
    }
</script>
<style>

</style>
