<template>
    <component :is="element" class="Polaris-Subheading"><slot></slot></component>
</template>


<script>
    export default {
        components: {},
        props: {
            element: String
        },
        methods: {}
    }
</script>
<style>

</style>
