<template>
        <span class="Polaris-Tag" :class="propsClass">
            <span title="Wholesale" class="Polaris-Tag__TagText" ref="tagText">
                <slot></slot>
            </span>
            <button type="button" aria-label="Remove Wholesale"
                    class="Polaris-Tag__Button"  v-show="showClose">
                <span class="Polaris-Icon" @click.prevent="removeTag">
                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                         focusable="false"
                         aria-hidden="true">
          <path d="M11.414 10l4.293-4.293a.999.999 0 1 0-1.414-1.414L10 8.586 5.707 4.293a.999.999 0 1 0-1.414 1.414L8.586 10l-4.293 4.293a.999.999 0 1 0 1.414 1.414L10 11.414l4.293 4.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z"
                fill-rule="evenodd"></path>
        </svg>
                </span>
            </button>
        </span>
</template>


<script>
    export default {
        components: {},
        props: {
            showClose :{
                default: true,
                type:Boolean
            },
            propsClass:String,
            removeTag:Function
        },
        methods: {
            handleClick(){
                let tagVal = this.$refs.tagText.textContent;

                this.$emit('removeTag' ,tagVal);
            }
        }
    }
</script>
<style>
.Polaris-Tag{
    margin: 0 2px 2px 0;
}
</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
