<template>
    <div :class="propsClass">
        <div class="Polaris-Labelled__LabelWrapper" v-if="label" :class="labelClass">
            <div class="Polaris-Label">
                <label :id="id+'Label'" :for="id" class="Polaris-Label__Text">
                    {{label}}
                </label>
            </div>
        </div>
        <slot name="customSlot"></slot>


        <div v-if="connectedRight || connectedLeft" class="Polaris-Connected">

            <div class="Polaris-Connected__Item Polaris-Connected__Item--connection" v-if="connectedLeft">
                <div class="Polaris-Labelled--hidden">
                    <slot name="leftContent"></slot>
                </div>
            </div>

            <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                <div class="Polaris-TextField Polaris-TextField--hasValue">
                    <div class="Polaris-TextField__Prefix" :id="id+'Prefix'" v-if="showPre"
                         :class="prefixClass">
                        <slot></slot>
                    </div>

                    <input :id="id" class="Polaris-TextField__Input" :aria-label="label"
                           :name="name" :type="type"
                           :aria-labelledby="showPre !='' ? id+'Prefix'+' '+id+'Label': id+'Label'"
                           aria-invalid="false" :placeholder="placeholder" v-model="content"
                           :value="value"
                           :disabled="disabled ? true : false"
                           @input="handleInput" :readonly="readonly ? true : false" :maxlength="maxlength"
                           :min="min"  :max="max" :pattern="pattern">

                    <div class="Polaris-TextField__Suffix" :id="id+'Prefix'" v-if="showSufix">
                        <slot></slot>
                    </div>

                    <div class="Polaris-TextField__Backdrop"></div>

                </div>
            </div>

            <div class="Polaris-Connected__Item Polaris-Connected__Item--connection" v-if="connectedRight">
                <div class="Polaris-Labelled--hidden">
                    <slot name="rightContent"></slot>
                </div>
            </div>

        </div>


        <div class="Polaris-TextField Polaris-TextField--hasValue"
             :class="{'Polaris-TextField--multiline':multiline }" v-else>

            <div class="Polaris-TextField__Prefix" :id="id+'Prefix'" v-if="showPre" :class="prefixClass">
                <slot></slot>
            </div>

            <textarea :name="name" :id="id" class="Polaris-TextField__Input"
                      :aria-label="label" :aria-labelledby="id+'Label'"
                      aria-invalid="false" aria-multiline="true"
                      style="height: 60px;" v-if="multiline" v-html="value" v-model="content"
                      @input="handleInput"></textarea>


            <input :id="id" class="Polaris-TextField__Input" :aria-label="label"
                   :name="name" :type="type"
                   :aria-labelledby="showPre ? id+'Prefix'+' '+id+'Label': id+'Label'"
                   aria-invalid="false" :placeholder="placeholder" :value="value"
                   v-model="content" :disabled="disabled ? true : false" :readonly="readonly ? true : false"
                   :maxlength="maxlength"  :min="min"  :max="max" :pattern="pattern"
                   @input="handleInput"
                   v-else>

            <div class="Polaris-TextField__Suffix" :id="id+'Prefix'" v-if="showSufix">
                <slot></slot>
            </div>

            <div class="Polaris-TextField__Backdrop"></div>

            <div aria-hidden="true" class="Polaris-TextField__Resizer" v-if="multiline">
                <div class="Polaris-TextField__DummyInput" v-html="value"></div>
                <div class="Polaris-TextField__DummyInput"><br></div>
            </div>

        </div>

    </div>
</template>


<script>
    export default {
        props: {
            label: String,
            value: [String, Number, Array],
            multiline: Boolean,
            id: {
                type:String,
                default:''
            },
            name: String,
            type: String,
            showPre: Boolean,
            showSufix: Boolean,
            connectedRight: Boolean,
            connectedLeft: Boolean,
            placeholder: String,
            disabled: Boolean,
            maxlength: [Number, String],
            min: [Number, String],
            max: [Number, String],
            readonly: Boolean,
            pattern:String,
            prefixClass:String,
            propsClass:String,
            labelClass:String

        },
        data() {
            return {
                content: this.value
            }
        },
        watch: {
            value: function (value) {
                return this.content = value;
            }
        },
        methods: {
            handleInput(e) {
                this.$emit('input', this.content);
            }
        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
