<template>
          <span :class="[variation !='' ? 'Polaris-TextStyle--variation'+capitalizeFirstLetter(variation) : '' , propsClass]">
             <slot></slot>
          </span>
</template>


<script>
    export default {
        components:{
        },
        props:{
           variation:String,
            propsClass:String
        },
        methods:{
            capitalizeFirstLetter(string) {
                return string && string.charAt(0).toUpperCase() + string.substring(1);
            }
        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
