<template>
        <span :class="'Polaris-Thumbnail Polaris-Thumbnail--size'+capitalizeFirstLetter(size)">
            <img :src="src"
                 :alt="alt" class="Polaris-Thumbnail__Image">
    </span>
</template>


<script>
    export default {
        components: {},
        props: {
            src: String,
            alt: String,
            size: String
        },
        methods: {
            capitalizeFirstLetter(string) {
                return string && string.charAt(0).toUpperCase() + string.substring(1);
            }
        }
    }
</script>
<style>

</style>
