<template>
    <div class="Polaris-Frame__TopBar" data-polaris-layer="true" data-polaris-top-bar="true" id="AppFrameTopBar">
        <div class="Polaris-TopBar">

            <button type="button" class="Polaris-TopBar__NavigationIcon"
                    aria-label="Toggle menu"><span class="Polaris-Icon Polaris-Icon--colorWhite">
                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
              <path d="M19 11H1a1 1 0 1 1 0-2h18a1 1 0 1 1 0 2zm0-7H1a1 1 0 0 1 0-2h18a1 1 0 1 1 0 2zm0 14H1a1 1 0 0 1 0-2h18a1 1 0 1 1 0 2z"></path>
            </svg>
            </span>
            </button>

            <div class="Polaris-TopBar__LogoContainer">
                <a class="Polaris-TopBar__LogoLink"
                   :href="logo.href"
                   data-polaris-unstyled="true" :style="{'width': logo.width+'px'}">
                    <img
                     :src="logo.source"
                            :alt="logo.alt" class="Polaris-TopBar__Logo"
                     :style="{'width': logo.width+'px'}">
                </a>
            </div>
            <div class="Polaris-TopBar__Contents">
                <div class="Polaris-TopBar__SearchField">
                    <div class="Polaris-TopBar-SearchField">
                        <input class="Polaris-TopBar-SearchField__Input"
                               placeholder="Search" type="search"
                               autocapitalize="off" autocomplete="off"
                               autocorrect="off" value=""><span
                            class="Polaris-TopBar-SearchField__Icon"><span class="Polaris-Icon">
                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                    <path d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8m9.707 4.293l-4.82-4.82A5.968 5.968 0 0 0 14 8 6 6 0 0 0 2 8a6 6 0 0 0 6 6 5.968 5.968 0 0 0 3.473-1.113l4.82 4.82a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414"
                          fill-rule="evenodd"></path>
                  </svg>
                    </span>
                    </span>
                        <div class="Polaris-TopBar-SearchField__Backdrop"></div>
                    </div>
                </div>
                <div class="Polaris-TopBar__SecondaryMenu"></div>
                <div>
                    <div class="Polaris-TopBar-Menu__ActivatorWrapper  position-relative">

                        <button type="button" class="Polaris-TopBar-Menu__Activator"
                                tabindex="0" :aria-controls="ariaProps"
                                :aria-owns="ariaProps" aria-haspopup="true"
                                :aria-expanded="ariaExpanded" @click.prevent="showMenu">

<!--                            <slot name="button">-->

                            <div class="Polaris-MessageIndicator__MessageIndicatorWrapper">
                                <span aria-label="Avatar with initials D" role="img"
                                      class="Polaris-Avatar Polaris-Avatar--styleThree
                                      Polaris-Avatar--sizeSmall">
                                    <span class="Polaris-Avatar__Initials">
                                        <svg class="Polaris-Avatar__Svg" viewBox="0 0 48 48">
                                            <text x="50%" y="50%" dy="0.35em" fill="cuwehave2vrrentColor"
                                                  font-size="26"
                                                  text-anchor="middle">A</text>
                                        </svg>
                                    </span>
                                </span>
                            </div>
                            <span class="Polaris-UserMenu-UserMenu__Details">
                                 <p class="Polaris-UserMenu-UserMenu__Name">{{storeName}}</p>
                                 <p class="Polaris-UserMenu-UserMenu__Detail">{{detail}}</p>
                        </span>
                        </button>


                        <slot name="popover"></slot>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    </div>-->
</template>


<script>
    import ActionList from '../../components/polaris/ActionList.vue'
    export default {
        components: {
            ActionList
        },
        props: {
            storeName: String,
            detail: String,
            logo:Object,
            ariaExpanded:Boolean,
            ariaProps:String
        },
        methods: {
            showMenu(){
                this.$emit('showMenu');
            }
        }
    }
</script>
<style>

</style>
