<template>
    <div class="dashboard-list quick-view clearfix w-100">
        <slot v-for="slot, name in $slots" :name="name"></slot>
    </div>
</template>



<script>
    export default {
        components:{
        },
        props:{
        },
        methods:{

        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
