<template>
    <div class="item">
        <div>
            <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;">
                <DisplayText size="large" v-html="title"></DisplayText>
            </div>
            <div style="--top-bar-background:#00848e; --top-bar-color:#f9fafb; --top-bar-background-lighter:#1d9ba4;">
                <TextStyle variation="subdued" v-html="desc"></TextStyle>
            </div>
        </div>
    </div>
</template>



<script>

    import DisplayText from "../../components/polaris/DisplayText";
    import TextStyle from "../../components/polaris/TextStyle"

    export default {
        components: {
            DisplayText ,
            TextStyle
        },
        props: {
            title:String,
            desc:String
        },
        methods: {
        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
