<template>

        <label  class="text-center">
            <DisplayText size="small" v-html="title"></DisplayText>
            <TextStyle variation="subdued" v-html="desc"></TextStyle>
        </label>

</template>



<script>

    import DisplayText from "../../components/polaris/DisplayText";
    import TextStyle from "../../components/polaris/TextStyle"

    export default {
        components: {
            DisplayText ,
            TextStyle
        },
        props: {
            title:String,
            desc:String
        },
        methods: {
        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
