<template>
    <div>
        <div class="Polaris-ResourceList__HeaderOuterWrapper" v-if="rows.from || selected.length > 0">
            <div class="Polaris-ResourceList__HeaderWrapper Polaris-ResourceList__HeaderWrapper--hasSort Polaris-ResourceList__HeaderWrapper--hasSelect Polaris-ResourceList__HeaderWrapper--inSelectMode">
                <div class="Polaris-ResourceList__BulkActionsWrapper" v-if="selected.length > 0 && !hideSelectedCount">
                    <div class="Polaris-ResourceList-BulkActions__Group Polaris-ResourceList-BulkActions__Group--largeScreen Polaris-ResourceList-BulkActions__Group--entered">
                        <div class="Polaris-ResourceList-BulkActions__ButtonGroup">
                            <div class="Polaris-ResourceList-CheckableButton Polaris-ResourceList-CheckableButton__CheckableButton--selectMode Polaris-ResourceList-CheckableButton__CheckableButton--selected">
                                <span class="">{{selected.length}} selected</span></div>
                            <button class="Polaris-ResourceList-BulkActions__Button" type="button"
                                    :value="selected" v-for="bulkAction in bulkActions"
                                    v-html="bulkAction.content"
                                    @click="editData($event,
                                     bulkAction.content.toLowerCase().replace(/\s+/g, '-'))">
                            </button>

                        </div>
                    </div>
                </div>
                <span class="Polaris-ResourceList-CheckableButton__Label" v-else-if="rows.from != null">
                 showing {{rows.from}} to {{rows.to}}  of {{rows.total}} {{resourceName}}
            </span>

            </div>
        </div>

        <div class="Polaris-ResourceList">
            <Card>
                <div class="Polaris-DataTable">
                    <div class="overflow-x-auto">
                        <table class="Polaris-DataTable__Table">
                            <thead>
                            <tr>
                                <th data-polaris-header-cell="true"
                                    class="Polaris-DataTable__Cell Polaris-DataTable__Cell--header text-center"
                                    scope="col" style="height: 53px;"
                                    v-for="column in columns" :class="column.extraClass">
                                    <Checkbox
                                            @click.native.prevent="select"
                                            v-model="selectAll"
                                            name="checkAll"
                                            type="checkbox" v-if="column.type == 'checkbox'"
                                            ref="checkAllEl"></Checkbox>

                                    <div v-else>{{column.label}}</div>
                                </th>


                            </tr>
                            </thead>
                            <tbody>
                            <tr class="Polaris-DataTable__TableRow"
                                v-for="(row , key)  in rows.data">

                                <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric
                         vertical-align-center text-center"
                                    style="height: 50px;" v-for="(column, columnKey) in columns" >

                                    <!--                            <input type="checkbox" name="checkSingle[]"-->
                                    <!--                                   v-if="column.type == 'checkbox'"-->
                                    <!--                                   :value="row[column.field]"-->
                                    <!--                                   ref="checkBox" v-model="selected"-->
                                    <!--                            >-->

                                    <div :class="column.customClass">
                                        <label class="Polaris-Choice" v-if="column.type == 'checkbox'">
                                    <span class="Polaris-Choice__Control">
                                        <span class="Polaris-Checkbox">
                                            <input type="checkbox" class="Polaris-Checkbox__Input"
                                                   aria-invalid="false"
                                                   name="checkSingle[]" role="checkbox"
                                                   :value="row[column.field]"
                                                   v-model="selected">

                                        <span class="Polaris-Checkbox__Backdrop"></span>
                                        <span class="Polaris-Checkbox__Icon">
                                            <span class="Polaris-Icon">
                                                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                                                     focusable="false"
                                                     aria-hidden="true">
                                      <path d="M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.437.437 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0">

                                      </path>
                                    </svg>
                                            </span>
                                        </span>
                                        </span>
                                    </span>
                                            <span class="Polaris-Choice__Label"></span>
                                        </label>


                                        <!--                                                                <Checkbox ref="checkBox"-->
                                        <!--                                                                          name="checkSingle[]"-->
                                        <!--                                                                          type="checkbox"-->
                                        <!--                                                                          v-if="column.type == 'checkbox'"-->
                                        <!--                                                                          :value="row[column.field]"-->
                                        <!--                                                                              v-model="selected">-->
                                        <!--                                                                </Checkbox>-->


                                        <Thumbnail :src="column.field ? row[column.field] : (column.representedAs ? column.representedAs(row) : '')"
                                                   size="medium"
                                                   :alt="'image_'+columnKey"
                                                   v-else-if="column.type =='image'">

                                        </Thumbnail>


                                        <ButtonGroup v-else-if="column.type =='button' && groupedBtn">
                                            <Button v-for="(buttonProp , buttonKey) in column.button_props"
                                                    v-bind:[buttonProp.button_type]="buttonProp.button_type"
                                                    :key="buttonKey"
                                                    :slot="'btn'+buttonKey"
                                                    :value="row[column.field]"
                                                    @click.native.prevent="handleClick(column.field ? row[column.field] : (column.representedAs ? column.representedAs(row) : '') ,buttonProp.action_type, key)"
                                                    v-html="buttonProp.button_HTML">
                                            </Button>
                                        </ButtonGroup>
                                        <Button v-else-if="column.type =='button' && !groupedBtn"
                                                v-for="(buttonProp , buttonKey) in column.button_props"
                                                v-bind:[buttonProp.button_type]="buttonProp.button_type"
                                                :key="buttonKey"
                                                :slot="'btn'+buttonKey"
                                                :value="row[column.field]"
                                                @click.native.prevent="handleClick(column.field ? row[column.field] : (column.representedAs ? column.representedAs(row) : '' ),buttonProp.action_type, key)"
                                                v-html="buttonProp.button_HTML">
                                        </Button>

                                        <Badge :status="row[column.field]['status']"
                                               v-else-if="column.type =='badge'"
                                               v-text=" row[column.field]['value']">
                                        </Badge>

                                        <TextField v-else-if="column.type == 'text'"
                                                   v-model="row[column.field]"
                                                   :name="column.field" :type="column.type"
                                                   :id="column.field"></TextField>


                                        <FormLayout grouped v-else-if="column.type == 'tags'">
                                            <FormLayoutGroup>

                                                <TextField label="Tags"
                                                           @click.native.prevent="enableDisableField(column.field, true , key, rows.tagList)"
                                                           type="text"
                                                           @keyup.native="changeTag('tagVal' , $event , key ,column.field)"
                                                           @change.native.prevent="changeTag('tagVal' , $event , key
                                                           , column.field)"
                                                           :value="dataset['tagVal']"
                                                           v-model="dataset['tagVal']" :id="'tags'+key">
                                                    <input type="hidden" :value="dataset['tags'+key]" name="tags">

                                                </TextField>
                                                <ActionList title="Frequently used tags"
                                                            :actionList="dataset['tagList'+key]"
                                                            :showPopup="$store.state.datatableProps[column.field+key]" @actionTrigger="tagCallBack">

                                                </ActionList>

                                                <Tag slot="tags"
                                                     v-for="(tag , tagKey) in (dataset['tags'+key] =  row[column.field])"
                                                     :key="tagKey" :removeTag="removeTag('tag' ,key)">
                                                    {{tag}}
                                                </Tag>
                                            </FormLayoutGroup>
                                        </FormLayout>

                                        <div v-else-if="!column.field && column.representedAs" v-html="column.representedAs(row)">
                                        </div>

                                        <div v-else-if="column.type == 'custom'" v-html="column.field">
                                        </div>


                                        <div v-else  v-text="typeof row[column.field] != 'undefined' && row[column.field] !== null ? row[column.field] : '---'"></div>

                                        <p v-if="column.extraField"
                                           v-html="row[column.extraField]">
                                        </p>

                                    </div>
                                </td>
                            </tr>

                            <tr class="Polaris-DataTable__TableRow" v-if="rows.data == ''">
                                <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric
                         vertical-align-center text-center" style="height: 50px;" :colspan="columns.length">
                                    No data found.
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>


                <!-- pagination-->
                <!--                <Pagination :previousURL="rows.prev_page_url" :nextURL="rows.next_page_url"-->
                <!--                            :prevClass="!rows.prev_page_url ? 'disabled' : ''"-->
                <!--                            :nextClass="!rows.next_page_url ? 'disabled' : ''">-->
                <!--                </Pagination>-->

                <!--                <Pagination :prevClass="!rows.prev_page_url ? 'disabled' : ''" :onPrevious="rows.current_page-1"-->
                <!--                            :nextClass="!rows.next_page_url ? 'disabled' : ''" :onNext="rows.current_page+1">-->
                <!--                </Pagination>-->


            </Card>
        </div>
    </div>
</template>


<script>
    import Card from '../../components/polaris/Card.vue'
    import Checkbox from '../../components/polaris/Checkbox.vue'
    import ButtonGroup from '../../components/polaris/ButtonGroup.vue'
    import Button from '../../components/polaris/Button.vue'
    import Pagination from '../../components/polaris/Pagination.vue'
    import Thumbnail from '../../components/polaris/Thumbnail.vue'
    import Badge from '../../components/polaris/Badge.vue'
    import TextField from '../../components/polaris/TextField.vue'
    import FormLayout from '../../components/polaris/FormLayout.vue'
    import FormLayoutGroup from '../../components/polaris/FormLayoutGroup.vue'
    import ActionList from '../../components/polaris/ActionList.vue'
    import Tag from '../../components/polaris/Tag.vue'

    export default {
        components: {
            Card, Checkbox, ButtonGroup, Button, Pagination, Thumbnail, Badge, TextField, FormLayout,
            FormLayoutGroup, ActionList, Tag
        },
        props: {
            columns: [Object, Array ,Function],
            rows: [Object, Array, String, Function],
            resourceName: String,
            groupedBtn: Boolean,
            bulkActions: Array,
            hideSelectedCount: Boolean
        },
        data() {
            return {
                selected: [],
                selectAll: false,
                prevClass: '',
                nextClass: '',
                dataset:{},
            }
        },
        computed: {
        },
        filters: {

        },
        watch: {
            selected(newVal, oldVal) {
                this.$root.$emit('selected', newVal);
                // Handle changes in individual flavour checkboxes
                if (newVal.length === 0) {
                    this.selectAll = false
                } else if (newVal.length === this.rows.data.length) {
                    this.selectAll = true
                } else {
                    this.selectAll = false
                }
            }
        },

        methods: {
            handleClick(value ,name, index) {
                this.$emit('rowAction', {value: value, name: name , index:index});
            },
            select() {
                let that = this;
                that.selected = [];
                if (!that.selectAll) {
                    for (let row in that.rows.data) {
                        that.selected.push(that.rows.data[row].id);
                    }
                }
            },
            editData(event, name) {
                this.$emit('bulkActionsCallback', ({value: event.target.value, name: name}));
            },

            enableDisableField(name, value , key ,field) {
                console.log('1111');
                console.log(field);
                name = name+key;
                this.$store.commit('SET_DATATABLE_PROPS', {[name] :  value ,currentTagKey :  key});
                this.dataset['storeTag'] = field;
                this.setActionList('tagList'+key , field);
            },
            changeTag(name , event , key , field) {
                console.log('change');
                console.log(name);
                name = name+key;
                let value = event.target.value;
                console.log('value');
                console.log(value);
                if(value != '' && value != null){
                    // this.dataset[name] = event.target.value;
                    this.$store.commit('SET_DATATABLE_PROPS', {[name] :  value , [field+key]: true ,currentTagKey :  key});
                    // console.log('store');
                    // console.log(this.$store.state.datatableProps[name]);
                    this.setActionList('tagList'+key , [{content:this.$store.state.datatableProps[name]}])
                    // return [{content: this.$store.state.datatableProps[name]}];
                }
                else  {
                    console.log('no data');
                    console.log(this.dataset['storeTag']);
                    // delete this.dataset[name];
                    // this.$store.$remove('SET_DATATABLE_PROPS', [name]);
                    this.setActionList('tagList'+key , this.dataset['storeTag'])
                }

            },
            setActionList(name , list){
                console.log(name);
                console.log(list);
                // console.log(list);
                // this.$store.commit('SET_DATATABLE_PROPS', {[name] :  list});
                // return list;
                this.dataset[name] = list;
                console.log(this.dataset);
            },
            isExists(arr ,value , check = null) {
                return arr.some(function (el) {
                    if(check){
                        return el[check].trim() === value.trim();
                    }
                    return el.trim() === value.trim();
                });
            },
            tagCallBack(action) {
                console.log('action');
                console.log(action.content);
                // this.activeTag = true;
                let checkVal = action.content
                if(this.dataset['tagVal'] != '' && this.dataset['tagVal'] != null){
                    checkVal =  this.dataset['tagVal']
                }
                let checkExist = this.isExists(this.dataset['tags'+this.$store.state.datatableProps.currentTagKey] , checkVal);
                if(!checkExist){
                    this.dataset['tags'+this.$store.state.datatableProps.currentTagKey].push(action.content);
                }
                this.dataset['tagVal'] = '';
            },
            hideTag(){
                console.log('hideTag');
                console.log(this.$store.state.datatableProps.currentTagKey);
                this.$store.commit('SET_DATATABLE_PROPS', {['tag'+this.$store.state.datatableProps.currentTagKey] :  false});
            },
            removeTag(tag , key){
                console.log('remove tag');
                this.dataset['tags'+key] = this.dataset['tags'+key].filter(function (item) {
                    return item.trim() !== tag.trim();
                });

            }


        },
        mounted(){

        }

    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->