<template>
    <div class="Polaris-Page-Header ">
        <!--navigation-->
        <div class="Polaris-Page-Header__Navigation" v-if="breadcrumbs">
            <nav role="navigation" v-for="breadcrumb in breadcrumbs">
                <a class="Polaris-Breadcrumbs__Breadcrumb" :href="breadcrumb.url"
                   data-polaris-unstyled="true">
                    <span class="Polaris-Breadcrumbs__Icon">
                        <span class="Polaris-Icon">
                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false"
                                 aria-hidden="true">
                  <path d="M12 16a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 0 1 0-1.414l5-5a.999.999 0 1 1 1.414 1.414L8.414 10l4.293 4.293A.999.999 0 0 1 12 16"
                        fill-rule="evenodd"></path>
                </svg>
                        </span>
                    </span>
                    <span class="Polaris-Breadcrumbs__Content" v-text="breadcrumb.content"></span>
                </a>
            </nav>
        </div>
        <!--pagination-->
        <div class="Polaris-Page-Header__Pagination" v-if="pagination">
            <nav class="Polaris-Pagination Polaris-Pagination--plain" aria-label="Pagination">
                <button type="button" class="Polaris-Pagination__Button" aria-label="Previous">
                    <span class="Polaris-Icon">
                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false"
                             aria-hidden="true">
                  <path d="M17 9H5.414l3.293-3.293a.999.999 0 1 0-1.414-1.414l-5 5a.999.999 0 0 0 0 1.414l5 5a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L5.414 11H17a1 1 0 1 0 0-2"
                        fill-rule="evenodd">

                  </path>
                </svg>
                    </span>
                </button>
                <button type="button" class="Polaris-Pagination__Button"
                        aria-label="Next">
                    <span class="Polaris-Icon">
                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg"
                         focusable="false" aria-hidden="true">
                  <path d="M17.707 9.293l-5-5a.999.999 0 1 0-1.414 1.414L14.586 9H3a1 1 0 1 0 0 2h11.586l-3.293 3.293a.999.999 0 1 0 1.414 1.414l5-5a.999.999 0 0 0 0-1.414"
                        fill-rule="evenodd"></path>
                </svg>
                </span>
                </button>
            </nav>
        </div>
        <!--title-->
        <div class="Polaris-Page-Header__MainContent">

            <div class="Polaris-Page-Header__TitleAndActions">
                <div class="Polaris-Page-Header__TitleAndRollup">
                    <div class="Polaris-Page-Header__Title" :class="headerTitleClass">
                        <div v-for="slot, name in $slots">
                            <slot :name="name"></slot>
                        </div>
                    </div>
                </div>
                <div class="Polaris-Page-Header__Actions" v-if="primaryActions || secondaryActions">

                    <div class="Polaris-Page-Header__SecondaryActions"  v-if="secondaryActions">
                        <div class="Polaris-Page-Header__IndividualActions">
                            <div class="Polaris-Page-Header__IndividualAction" v-for="secondary in
                                secondaryActions">
                                <button class="Polaris-Header-Action" type="button"
                                        @click.prevent="secondary.onAction">
                                    {{secondary.content}}
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="Polaris-Page-Header__PrimaryAction" v-if="primaryActions"  v-for="primary in
                        primaryActions">
                        <Button primary :disabled="primary.disabled ? true : false"
                                @click.native.prevent="primary.onAction">
                            {{primary.content}}
                        </Button>
                    </div>

                </div>
            </div>

            <div class="Polaris-Page-Header__PrimaryAction" v-if="primaryActions" v-for="primary in
                        primaryActions">
                <Button primary :disabled="primary.disabled ? true : false"
                        @click.native.prevent="primary.onAction">
                    {{primary.content}}
                </Button>
            </div>
        </div>

    </div>
</template>


<script>

    import Button from '../polaris/Button';

    export default {
        components: {Button},
        props: {
            headerTitleClass: String,
            breadcrumbs: [Array, Object],
            title: String,
            primaryActions: Array,
            secondaryActions: Array,
            pagination: [Array, Object]
        },
        methods: {

        }
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
