<template>
    <div>
        <div class="Polaris-ResourceList__ResourceListWrapper">
            <!--       Search Area -->
            <div class="Polaris-ResourceList__FiltersWrapper">

<!--                <FormLayout>-->
<!--                    <div class="Polaris-Labelled&#45;&#45;hidden" v-if="this.$slots.searchField" slot="searchField">-->
<!--                        <slot name="searchField"></slot>-->
<!--                    </div>-->

<!--                    <slot v-for="slot , name in $slots" v-if="name != 'searchField' && name != 'dataTable' "-->
<!--                          :name="name" :customItemClass="customSlotClass">-->
<!--                    </slot>-->
<!--                </FormLayout>-->


                <div class="Polaris-FormLayout">
                    <div class="Polaris-FormLayout__Item" v-if="this.$slots.searchField">
                        <div class="Polaris-Labelled--hidden">
                            <slot name="searchField"></slot>
                        </div>
                    </div>
                    <div class="Polaris-FormLayout__Item" :class="customSlotClass">
                        <slot v-for="slot ,name in $slots" v-if="name != 'searchField' && name != 'dataTable' " :name="name"></slot>
                    </div>
                </div>

            </div>


                <slot name="dataTable"></slot>

            </div>

        </div>
</template>


<script>
    import FormLayout from '../polaris/FormLayout'
    export default {
        components: {FormLayout},
        props: {
            customSlotClass:String
        },
        methods: {}
    }
</script>
<style>

</style>
<!-- Add "scoped" attribute to limit CSS to this component only -->
