<template>
    <main class="Polaris-Frame__Main" id="AppFrameMain" data-has-global-ribbon="false">
        <div class="Polaris-Frame__Content">
            <div class="Polaris-Page">
                <div class="Polaris-Page__Content" id="app">                    
                    <Button @click.native.prevent="$router.push({name: 'Setting'})">Settings</Button>  
                    <br/>
                    <br/>
                    <Banner status="critical" :title=message
                            @bannerClose="message = false" v-if="message"></Banner>
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </main>            
</template>

<script>
    import Button from '../polaris/Button.vue';
    import Banner from '../polaris/Banner.vue';
    export default{
        components: {
            Button,
            Banner
        },
        data() {
            return{
                message: false
            }
        },
        methods: {
            getSetting: function () {
                let vm = this
                let uri = process.env.MIX_APP_URL + '/api/setting/';
                axios.get(uri).then((response) => {
                    if(!response.data.id){
                        vm.message = "To get notifications or alerts on order creation, you'll need to set up mail setting."
                    }

                });
            }
        },
        created: function () {
            this.getSetting();
        }
    }
</script>
<style>
    .text-center{
        text-align: center
    }
</style>