<template>
    <div class="Polaris-Tabs__Panel" role="tabpanel" tabindex="-1">           
        <div class="Polaris-Card__Section">
            <div class="Polaris-Page__Content">                
                <Card sectioned>   
                <div class="Polaris-Page-Header__Navigation">
                    <nav role="navigation">
                        <router-link :to="{name: 'ListVendors'}" class="Polaris-Breadcrumbs__Breadcrumb">
                            <span class="Polaris-Breadcrumbs__Icon">
                                <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                <path d="M12 16a.997.997 0 0 1-.707-.293l-5-5a.999.999 0 0 1 0-1.414l5-5a.999.999 0 1 1 1.414 1.414L8.414 10l4.293 4.293A.999.999 0 0 1 12 16" fill-rule="evenodd"></path>
                                </svg>
                            </span>
                            <span class="Polaris-Breadcrumbs__Content">Vendors</span>
                        </router-link>                        
                    </nav>                    
                </div>                
                <div>
                    <h1 class="Polaris-DisplayText Polaris-DisplayText--sizeLarge">Settings</h1>
                </div>
                <Banner status="success" :title=message
                        @bannerClose="message = false" v-if="message"></Banner>

                <Form @submit.prevent="onSubmit">

                    <FormLayout>                        
                        <Select label="Mail Service" id="mail_service_id" name="mail_service_id" :options="mail_services" v-model="form.mail_service_id" @change.native.prevent="getFields" slot="mail_service_id"></Select>
                        <span class="error-message" v-if="form.errors.has('name')" v-text="form.errors.get('name')" slot="mail_service_id"></span>    

                        <TextField label="Email" v-model="form.configuration.email" name="configuration.email" type="text" @change.native="" id="configuration[email]" slot="email" v-if="form.has('configuration.email')"></TextField>
                        <span class="error-message" v-if="form.errors.has('configuration.email')" v-text="form.errors.get('configuration.email')" slot="email"></span>

                        <TextField label="From" v-model="form.configuration.from" name="configuration.from" type="text" @change.native="" id="configuration[from]" slot="from" v-if="form.has('configuration.from')"></TextField>
                        <span class="error-message" v-if="form.errors.has('configuration.from')" v-text="form.errors.get('configuration.from')" slot="from"></span>

                        <TextField label="Host" v-model="form.configuration.host" name="configuration.host" type="text" @change.native="" id="configuration[host]" slot="host" v-if="form.has('configuration.host')"></TextField>
                        <span class="error-message" v-if="form.errors.has('configuration.host')" v-text="form.errors.get('configuration.host')" slot="host"></span>

                        <TextField label="Port" v-model="form.configuration.port" name="configuration.port" type="text" @change.native="" id="configuration[port]" slot="port" v-if="form.has('configuration.port')"></TextField>
                        <span class="error-message" v-if="form.errors.has('configuration.port')" v-text="form.errors.get('configuration.port')" slot="port"></span>

                        <TextField label="Username" v-model="form.configuration.username" name="configuration.username" type="text" @change.native="" id="configuration[username]" slot="username" v-if="form.has('configuration.username')"></TextField>
                        <span class="error-message" v-if="form.errors.has('configuration.username')" v-text="form.errors.get('configuration.username')" slot="username"></span>

                        <TextField label="Password" v-model="form.configuration.password" name="configuration.password" type="text" @change.native="" id="configuration[password]" slot="password" v-if="form.has('configuration.password')"></TextField>
                        <span class="error-message" v-if="form.errors.has('configuration.password')" v-text="form.errors.get('configuration.password')" slot="password"></span>
                        <Button submit slot="button">Save</Button>
                    </FormLayout>
                </Form>
                </Card>                 
            </div>
        </div>
    </div>
</template>   

<script>
    import Card from "../polaris/Card.vue";
    import FormLayout from '../polaris/FormLayout.vue';
    import Button from '../polaris/Button.vue';
    import Banner from '../polaris/Banner.vue';
    import FormLayoutGroup from '../polaris/FormLayoutGroup.vue';
    import Form from '../../utilities/Form';
    import TextField from '../polaris/TextField.vue';
    import Select from '../polaris/Select.vue';
    export default{
        components: {
            Card,
            FormLayout,
            Select,
            Button,
            FormLayoutGroup,
            TextField,
            Banner
        },
        data() {
            return {
                mail_services: [],
                message: '',
                form: new Form({
                    mail_service_id: null,
                    configuration: {}
                })
            }
        },
        methods: {
            getFields: function () {
                const item = this.indexWhere(this.mail_services, item => item.id === this.form.mail_service_id);
                let vm = this;
                let email = vm.form.configuration.from;
                $.each(vm.form.configuration, function (index, value) {
                    delete vm.form.configuration[index];
                });
                $.each(item.fields, function (index, value) {
                    if (value == "email" || value == "from") {
                        vm.$set(vm.form.configuration, value, email);
                    } else {
                        vm.$set(vm.form.configuration, value, '');
                    }
                });
            },
            indexWhere(array, condition) {
                return array.find(condition)
            },
            getMailServices: function () {
                let vm = this
                let uri = process.env.MIX_APP_URL + '/api/mail-services/';
                axios.get(uri).then((response) => {
                    vm.mail_services = response.data;
                });
            },
            getSetting: function () {
                let vm = this
                let uri = process.env.MIX_APP_URL + '/api/setting/';
                axios.get(uri).then((response) => {
                    vm.$set(vm.form.configuration, 'from', response.data.configuration.from);

                    if (response.data.mail_service_id) {
                        vm.$set(vm.form, 'mail_service_id', response.data.mail_service_id);

                        $.each(response.data.configuration, function (index, value) {
                            vm.$set(vm.form.configuration, index, value);
                        });
                    } else {
                        vm.$set(vm.form, 'mail_service_id', this.mail_services[0].id);
                        vm.getFields();
                    }

                });
            },
            onSubmit: function () {
                let app = this
                let uri = process.env.MIX_APP_URL + '/api/setting';

                this.form.post(uri)
                        .then((response) => {
                            this.message = response.message;
                            this.$parent.message = false;
                        })
            }

        },
        created: function () {
            this.getMailServices();
            this.getSetting();
        }
    }
</script>

